{% extends 'base.html' %}
{%block body%}

<iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/wBkMkMqy-Wc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
<style>
    
  body
    {
  
  background-image: url("../static/mypics/mis1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container1 marquee {
 
  padding-left: auto;
  display: auto;
  margin: auto;
  color : red;
}
</style>
      
<div  style = "position:fixed; left: 650px; top:120px;"class ="container1">
  <marquee direction="up"> <h1><p>Mission--- </p></h1>
    <h4>**Deflate a party balloon***...</h4>
<h4>***Hide one of the birthday gifts***...</h4>
<h4>***Swipe something from the fridge***...</h4>
<h4>***Write a message on another guest's paper plate or napkin***...</h4>
<h4>***Smuggle a roll of toilet paper out of the bathroom***...</h4>
  </marquee>
  </h4>




  {%endblock body%}